<div class="sideBar">
    <div *ngFor="let link of navigationLinks" class="sidebar-link">
        <div>
          <ng-container *ngIf="link.iconClass">
            <i class="{{ link.iconClass }}"></i>
          </ng-container>
          <ng-container *ngIf="link.routerLink">
            <a [routerLink]="link.routerLink">{{ link.text }}</a>
          </ng-container>
          <ng-container *ngIf=" !link.routerLink">
            {{ link.text }}
          </ng-container>
        </div>
    </div>
    <hr>
    <div *ngFor="let link of sidebarLinks_you" class="sidebar-link">
        <div>
          <ng-container *ngIf="link.icon">
            <i class="{{ link.icon }}"></i>
          </ng-container>
          {{ link.text }}
        </div>
      </div>
    <hr>
    <div *ngFor="let link of sidebarLinks_subscriptions" class="sidebar-link">
        <div [style.font-weight]="link.fontWeight">
          <ng-container *ngIf="link.profileSrc">
            <img class="logoSubs" [src]="link.profileSrc" alt="Profile Image" />
          </ng-container>
          <ng-container *ngIf="link.routerLink">
            <a [routerLink]="link.routerLink">{{ link.text }}</a>
          </ng-container>
          <ng-container *ngIf="!link.profileSrc && !link.routerLink">
            {{ link.text }}
          </ng-container>
        </div>
    </div>
    <hr>
    <div *ngFor="let link of exploreLinks" class="sidebar-link">
        <div [style.font-weight]="link.fontWeight">
          <ng-container *ngIf="link.iconClass">
            <i class="{{ link.iconClass }}"></i>
          </ng-container>
          {{ link.text }}
        </div>
      </div>
    <hr>
    <div class="sidebar-link">
        <div>
            TermsPrivacyPolicy 
            © 2024 Google LLC</div>
    </div>
</div>