<div class="sideBar">
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-house"></i><a routerLink="/">Home</a></div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-z"></i>Shorts</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-brands fa-youtube"></i><a routerLink="/subscriptions">Subscriptions</a></div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-play"></i>YouTube Music</div>
    </div>
    <hr>
    <div class="sidebar-link">
        <img src="" />
        <div>You<i class="fa-solid fa-chevron-right"></i></div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div>Your channel</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-clock-rotate-left"></i>History</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-circle-play"></i>Your videos</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-regular fa-clock"></i>Watch later</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-download"></i>Downloads</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-angle-down"></i>Show more</div>
    </div>
    <hr>
    <div class="sidebar-link">
        <img src="" />
        <div style="font-weight: 700;">Subscriptions</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><img class="logoSubs" src="../../assets/tanmayProfile.PNG"><a routerLink="/bhatt-page">Bhatt</a></div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><img class="logoSubs" src="../../assets/snippetProfile.PNG"><a routerLink="/snippet-page">Ezz Snippet</a></div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><img class="logoSubs" src="../../assets/arpitProfile.PNG"><a routerLink="/harry-page">CodeWithHarry</a></div>
    </div>
    <hr>
    <div class="sidebar-link">
        <img src="" />
        <div style="font-weight: 700;">Explore</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-fire"></i>Trending</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-bag-shopping"></i>Shopping</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-music"></i>Music</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-clapperboard"></i>Films</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-life-ring"></i>Live</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-gamepad"></i>Gaming</div>
    </div>
    <div class="sidebar-link">
        <img src="" />
        <div><i class="fa-solid fa-newspaper"></i>News</div>
    </div>
    <hr>
    <div class="sidebar-link">
        <div>
            TermsPrivacyPolicy 
            © 2024 Google LLC</div>
    </div>
</div>