<div class="mainScreen">
  <div class="horizontal-bar">
    <div class="horizontal-bar-link">
      <div>All</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Gaming</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Music</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Mixes</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Podcast</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Javascript</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Loony</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Valorant</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Computer</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Games</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Live</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Thrillers</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Thoughts</div>
    </div>
    <div class="horizontal-bar-link">
      <div>Cartoon</div>
    </div>
    <div class="horizontal-bar-link">
      <div><i class="fa-solid fa-chevron-right"></i></div>
    </div>

  </div>
  <section class="video-grid">
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/tanmayBhat.PNG">
        <div class="video-time">14:20</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/tanmayProfile.PNG">
        </div>
        <div class="video-info">
          <p class="video-title" style="color: white;">
            The Nick Jonas Vlog - Vlog 129
          </p>
          <p class="video-author">
            Tanmay Bhat
          </p>
          <p class="video-stats">
            3.4M views &#183; 6 months ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb2.PNG">
        <div class="video-time">02:30:05</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/shemaroProfile.PNG">
        </div>
        <div class="video-info">
          <p class="video-title" style="color: white;">
            Golmaal!!
          </p>
          <p class="video-author">
            Shemaroo
          </p>
          <p class="video-stats">
            19M views &#183; 4 years ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb3.PNG">
        <div class="video-time">9:13</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/imanProfile.PNG">
        </div>
        <div class="video-info" style="color: white;">
          <p class="video-title">
            I got RICH after doing this
          </p>
          <p class="video-author">
            Iman Gadzi
          </p>
          <p class="video-stats">
            12M views &#183; 1 year ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb4.PNG">
        <div class="video-time">19:13</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/arpitProfile.PNG">
        </div>
        <div class="video-info" style="color: white;">
          <p class="video-title">
            jholi man
          </p>
          <p class="video-author">
            Arpit Bala
          </p>
          <p class="video-stats">
            10K views &#183; 2 weeks ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb5.PNG">
        <div class="video-time">20:05</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/samProfile.PNG">
        </div>
        <div class="video-info" style="color: white;">
          <p class="video-title">
            Winter Bulk
          </p>
          <p class="video-author">
            Sam Sulek
          </p>
          <p class="video-stats">
            107K views &#183; 2 weeks ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb6.PNG">
        <div class="video-time">20:05</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/snippetProfile.PNG">
        </div>
        <div class="video-info" style="color: white;">
          <p class="video-title">
            Mujhe hi roast kar diya
          </p>
          <p class="video-author">
            Ezz Snippet
          </p>
          <p class="video-stats">
            1M views &#183; 4 weeks ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb6.PNG">
        <div class="video-time">02:30:05</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/thumb6.PNG">
        </div>
        <div class="video-info">
          <p class="video-title" style="color: white;">
            Golmaal!!
          </p>
          <p class="video-author">
            Shemaroo
          </p>
          <p class="video-stats">
            19M views &#183; 4 years ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb6.PNG">
        <div class="video-time">02:30:05</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/thumb6.PNG">
        </div>
        <div class="video-info">
          <p class="video-title" style="color: white;">
            Golmaal!!
          </p>
          <p class="video-author">
            Shemaroo
          </p>
          <p class="video-stats">
            19M views &#183; 4 years ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb6.PNG">
        <div class="video-time">02:30:05</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/thumb6.PNG">
        </div>
        <div class="video-info">
          <p class="video-title" style="color: white;">
            Golmaal!!
          </p>
          <p class="video-author">
            Shemaroo
          </p>
          <p class="video-stats">
            19M views &#183; 4 years ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb6.PNG">
        <div class="video-time">02:30:05</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/thumb6.PNG">
        </div>
        <div class="video-info">
          <p class="video-title" style="color: white;">
            Golmaal!!
          </p>
          <p class="video-author">
            Shemaroo
          </p>
          <p class="video-stats">
            19M views &#183; 4 years ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb6.PNG">
        <div class="video-time">02:30:05</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/thumb6.PNG">
        </div>
        <div class="video-info">
          <p class="video-title" style="color: white;">
            Golmaal!!
          </p>
          <p class="video-author">
            Shemaroo
          </p>
          <p class="video-stats">
            19M views &#183; 4 years ago
          </p>
        </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail-row">
        <img class="thumbnail" src="../../assets/thumb6.PNG">
        <div class="video-time">02:30:05</div>
      </div>
      <div class="video-info-grid">
        <div class="channel-picture">
          <img class="profile-picture" src="../../assets/thumb6.PNG">
        </div>
        <div class="video-info">
          <p class="video-title" style="color: white;">
            Golmaal!!
          </p>
          <p class="video-author">
            Shemaroo
          </p>
          <p class="video-stats">
            19M views &#183; 4 years ago
          </p>
        </div>
      </div>
    </div>
