<div class="header">
    <div class="section-left">
        <div class="hamburger" style="color: white;"><i class="fa-solid fa-bars fa-lg"></i></div>
        <div class="yt-logo"><img src="../../assets/YT-logo.PNG" alt="Logo"></div>
    </div>
    <div class="section-center">
            <input class="search-bar" type="text" placeholder="Search" />
            <button class="search-button" style="color: white;">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="voice-search-button" style="color: white;">
                <i class="fa-solid fa-microphone"></i>
            </button>
    </div>
    <div class="section-right">
        <div class="video" style="color: white;">
            <i class="fa-solid fa-video"></i>
        </div>
        <button class="notification">
            <i class="fa-regular fa-bell fa-lg"></i>
        </button>
        <button class="account" (click)="dropdownMenu.settingsMenuToggle()">
            V
            <app-dropdown-menu #dropdownMenu></app-dropdown-menu>
        </button>
    </div>
    
</div>
