<div class="settings-menu">
    <div class="settings-menu-inner">
        <div class="user-profile">
            <button class="account">
                V
            </button>
            <div class="account-text">
                <p>Vivek</p>
                <a href="profile.html">View your channel</a>
            </div>
        </div>
        <hr>
        <div class="settings-links">
            <img src="https://i.postimg.cc/QCcPNYRV/setting.png" class="settings-icon">
            <a routerLink="/settings">Settings & Privacy <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"></a>
        </div>
        <div class="settings-links">
            <img src="https://i.postimg.cc/C5tydfK6/help.png" class="settings-icon">
            <a href="#">Help & Support<img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"></a>
        </div>
        <div class="settings-links">
            <img src="https://i.postimg.cc/5yt1XVSj/display.png" class="settings-icon">
            <a href="#">Display & Accessibility <img src="https://i.postimg.cc/RF1dBMWr/arrow.png"width="10px"></a>
        </div>
        <div class="settings-links">
            <img src="https://i.postimg.cc/PJC9GrMb/logout.png" class="settings-icon">
            <a href="#">Logout <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"></a>
        </div>
    </div>
</div>